<% provide(:title, "Registeration") %>
<div style="position:fixed; left:0; top:0; width:100%; height:100%; z-index:-5000">
  <%= image_tag("bg1.jpg", width: "100%", height: "100%") %>
</div>

<%= stylesheet_link_tag    "main.css", :media => "all" %>
<h1>New user</h1>

<%= render 'form' %>

<%= link_to 'Home', home_path %>
