<%= stylesheet_link_tag "main.css", :media => "all" %>
<div style="position:fixed; left:0; top:0; width:100%; height:100%; z-index:-5000">
<%= image_tag("bg1.jpg", width: "100%", height: "100%") %> 
</div>
<h1> Places information </h1>
<hr>
<div>There are <snum style = "font-weight: bold;color:blue"><%= @places.size %> </snum>places to meet your requirement</div>
<a href = "#showinmap">Show them in map </a>
<div class = "row">
  <% @places.each do |place| %>
    <section class="col-md-4">
      <div class="inner">
        <article class="feature left">
          <span class="image"><%= image_tag(place.avatar_url(:big), :style => "width:100%") if place.avatar %></span>
          <div class="content">
            <div class = "cont_one">
              <h3><%= link_to place.name, place %></h3>
            </div>
            <%= ratings_for place, :static %>
            hot = <%= place.hot%>
            <div class = "cont_two">
              <%= place.intro %>
            </div>
            <ul class="actions">
              <li><%= link_to "More", place, :method => :get%></li>
            </ul>
          </div>
        </article>
      </div>
    </section>
  <% end %>
</div>
<hr>

<div id = "showinmap">
  <br/><br/>
  <h3>Show in Map </h3>
  <div class = "">
    <a href = "#">Back</a>
  </div>
  <div class="row">
    <div id="indexmap" align = "center" class = "col-md-10"
      style="width: 800px; height: 500px; border: 1px solid gray; 
      overflow:hidden;">
    </div>
    <div id="r-result" class = "col-md-2">
      <label>Choose Map Style</label>
      <select id="stylelist" onchange="changeMapStyle(this.value)"></select>
    </div>
  </div>
</div>
<br/><br/><br/><br/><br/>
<style>
  /*最多显示one or two行，多余的用...代替*/
  .cont_one{ 
    width: 125px;
    height: 25px;
    line-height: 25px;
    text-align: left;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
   }
  .cont_two{    
    width: 140px;
    height: 50px;
    line-height: 25px;
    text-align: left;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
</style>

<script>
  var map = new BMap.Map("indexmap");
  var point = new BMap.Point(126.638718,45.749316);
  var schoolcenter = new BMap.Point(126.638718,45.749316);
  map.centerAndZoom(point,17);
  var b = new BMap.Bounds(new BMap.Point(126.627938, 45.74145),
    new BMap.Point(126.647629, 45.756771));
  try {  
    BMapLib.AreaRestriction.setBounds(map, b);
  } catch (e) {
    alert(e);
  }

  function addMaker(point){
    var marker = new BMap.Marker(point);
    map.addOverlay(marker);
    return marker;
  }
  function addInfoWindow(marker, intro){
    var opts = {
      title: intro[0],
      width: 250,
      height: 200
    }
    var content = intro[1];
    var info = new BMap.InfoWindow(content, opts);
    var openInforWinFun = function(){
      marker.openInfoWindow(info);
    }
    marker.addEventListener("click", openInforWinFun);
    return openInforWinFun;
  }

  function work(){
    <% @places.each do |place|%>
      var marker = new addMaker(new BMap.Point(<%= place.locationx%>, <%= place.locationy%>));
      var intro = ['<h3><%= place.name%></h3>', '<%= place.intro%><br/><%=link_to "More", place %>'];
      addInfoWindow(marker, intro);
    <% end %>
  }
  window.reload(work());
</script>

