<%= form_tag places_path, method: :get, class: "" do%>
<div class = "form-group">
	<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Enter something you want to search", width: 100 %>
	<%= submit_tag "Search", class: "actions special"%>
</div>
<% end %>